<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Math examples</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
    {% extends 'base.html' %}
    {% block math_examples %}
  <h3 class="container mt-5">
    příklady:
  </h3>
    <form class="container" method="post" action="{% url 'validation_math_examples' %}" autocomplete="off">
      {% csrf_token %}
        <div class="container">
          <div class="row">
            <div class="col">
              {% for example in examples_plus %}
                {% if forloop.counter <= 10 %}
                    <p>{{ forloop.counter }}) {{ example }} =
                        <input type="hidden" name="example" value="{{ example }}">
                        <input type="text" name="result" maxlength="3" size="1" required>
                    </p>
                {% endif %}
              {% endfor %}
            </div>
            <div class="col">
              {% for example in examples_plus %}
                {% if forloop.counter > 10 %}
                    <p>{{ forloop.counter0|add:10 }}) {{ example }} =
                        <input type="hidden" name="example" value="{{ example }}">
                        <input type="text" name="result" maxlength="3" size="1" required>
                    </p>
                {% endif %}
              {% endfor %}
            </div>
            <div class="col">
              {% for example in examples_plus %}
                {% if forloop.counter > 10 %}
                    <p>{{ forloop.counter0|add:10 }}) {{ example }} =
                        <input type="hidden" name="example" value="{{ example }}">
                        <input type="text" name="result" maxlength="3" size="1" required>
                    </p>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

      <button type="submit">Odeslat</button>

    </form>
    <button type="button">to PDF</button>
    {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>