<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buttons Page</title>
</head>

<body>
{% extends 'base.html' %}
{% block buttons %}

<form method="post" action="{% url 'test_form' %}">
{% csrf_token %}
  <main class="mt-5">
    <div class="container">
      <div class="row">
      <div class="container text-center mt-3">
        <div class="btn-group col-2 mx-auto" role="group" aria-label="Basic checkbox toggle button group">
          <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" name="button" value="plus">
          <label class="btn btn-outline-primary" for="btncheck1">+</label>
        </div>
        <div class="btn-group col-2 mx-auto" role="group" aria-label="Basic checkbox toggle button group">
          <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" name="button" value="minus">
          <label class="btn btn-outline-primary" for="btncheck2">-</label>
        </div>
        <div class="btn-group col-2 mx-auto" role="group" aria-label="Basic checkbox toggle button group">
          <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off" name="button" value="krat">
          <label class="btn btn-outline-primary" for="btncheck3">x</label>
        </div>
        <div class="btn-group col-2 mx-auto" role="group" aria-label="Basic checkbox toggle button group">
          <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off" name="button" value="deleno">
          <label class="btn btn-outline-primary" for="btncheck4">:</label>
        </div>
        </div>
      </div>
      </div>
    </div>
  </main>

  <main class="container text-center">
    <div class="row">
    <div class="col-2 mx-auto">
    <label for="customRange3" class="form-label">Example range</label>
    <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
    </div>
    <div class="col-2 mx-auto">
    <label for="customRange3" class="form-label">Example range</label>
    <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
    </div>
    </div>
  </main>


  <main class="mt-1">

      <div class="container text-center">
        <div class="btn-group col-2 mx-auto" role="group" aria-label="Basic checkbox toggle button group">
          <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off" name="button" value="range_0-10">
          <label class="btn btn-outline-primary" for="btncheck5">0-10</label>
        </div>
        <div class="btn-group col-2 mx-auto" role="group" aria-label="Basic checkbox toggle button group">
          <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off" name="button" value="range_0-20">
          <label class="btn btn-outline-primary" for="btncheck6">0-20</label>
        </div>
        <div class="btn-group col-2 mx-auto" role="group" aria-label="Basic checkbox toggle button group">
          <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off" name="button" value="over_10">
          <label class="btn btn-outline-primary" for="btncheck7">&#10554 10</label>
        </div>
        <div class="btn-group col-2 mx-auto" role="group" aria-label="Basic checkbox toggle button group">
          <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off" name="button" value="range_20-100">
          <label class="btn btn-outline-primary" for="btncheck8">20-100</label>
        </div>
        </div>


  </main>

  <main class="mt-1">
    <div class="container">
      <div class="row">
      <div class="container text-center">
        <div class="btn-group col-2 mx-auto" role="group" aria-label="Basic checkbox toggle button group">
          <div class="dropdown ">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              0
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">1</a></li>
              <li><a class="dropdown-item" href="#">2</a></li>
              <li><a class="dropdown-item" href="#">3</a></li>
              <li><a class="dropdown-item" href="#">4</a></li>
              <li><a class="dropdown-item" href="#">5</a></li>
              <li><a class="dropdown-item" href="#">6</a></li>
              <li><a class="dropdown-item" href="#">7</a></li>
              <li><a class="dropdown-item" href="#">8</a></li>
              <li><a class="dropdown-item" href="#">9</a></li>
              <li><a class="dropdown-item" href="#">10</a></li>
            </ul>
          </div>
        </div>
        <div class="btn-group col-2 mx-auto" role="group" aria-label="Basic checkbox toggle button group">
          <input type="checkbox" class="btn-check" id="btncheck9" autocomplete="off">
          <label class="btn btn-outline-primary" for="btncheck9">-</label>
        </div>
        <div class="btn-group col-2 mx-auto" role="group" aria-label="Basic checkbox toggle button group">
          <input type="checkbox" class="btn-check" id="btncheck10" autocomplete="off">
          <label class="btn btn-outline-primary" for="btncheck10">x</label>
        </div>
        <div class="btn-group col-2 mx-auto" role="group" aria-label="Basic checkbox toggle button group">
          <input type="checkbox" class="btn-check" id="btncheck11" autocomplete="off">
          <label class="btn btn-outline-primary" for="btncheck11">:</label>
        </div>
        </div>
      </div>
      </div>

  </main>

  <div class="container text-center col-2 mx-auto mt-2">
    <div class="row">
<!--      <button class="btn-group col-1 m-2" type="submit">Odeslat</button>-->
      <input type="submit" class="btn-check" id="btncheck20" autocomplete="off" name="btncheck20" value="submit_test">
      <label class="btn btn-outline-primary" for="btncheck20">Odeslat2</label>
    </div>
  </div>

</form>

<!-- testovací extra tlačítko-->
  <form method="post" action="{% url 'generate_math_examples' %}">
    {% csrf_token %}
    <button type="submit">testovací tlačitko</button>
  </form>
{% endblock %}

</body>
</html>